{% extends 'blog/index.html' %}

{% block content %}
<article class='post'>
  <aside class="actions">
    {% if user.is_authenticated %}
      <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
        {% include './icons/pencil-fill.svg' %}
      </a>
    <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}">
        <span class="glyphicon glyphicon-remove"></span></a>
    {% endif %}
  </aside>
  <h2>{{ post.title }}</h2>
  <p>By: {{post.user}} | {{post.published_date}}</p>
  <hr>
  {% if post.image %}
  <img src='{{post.image.url}}' height="350" width="450">
  {% endif %}
  <br>
  {% if post.tag %}
  {% for tag in post.tag.all %}
  <a href="#">#{{ tag.title }}</a>
  {% endfor %}
  {% endif %}
  <br>
  <p>{{ post.text|linebreaksbr }}</p>
</article>

<br>
<hr>
<a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>

<br>
<br>

{% for comment in post.comments.all %}
<div class="comment">
  <strong>{{comment.user}} -
          {{comment.created_date}}
  </strong>
  <br>
  <p>{{comment.text|linebreaksbr}}</p>
  <br>
</div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
{% endblock %}