.page-header {
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}
.page-header nav{
  float:right;
}
.page-header nav ul{
  margin:0;
  padding:0;
  list-style:none;
}
.page-header nav li{
  display:inline-block;
  margin-left:70px;
  padding-top:23px;
  position:relative;
}
.page-header nav a{
  color:#0f100f;
  text-decoration:none;
  text-transform:uppercase;
}
.page-header nav a:hover{
  color:#212121;
}
.page-header nav a::before{
  content:'';
  display:block;
  height:5px;
  background:#444;

  position:absolute;
  top:0;
  width:0%;
  transition: all ease-in-out 250ms;
}
.page-header nav a:hover::before{
  width:100%;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #C25100;
}
